//Profile config names for nf-core/configs
params
{
  config_profile_description = 'University of California-Riverside HPCC config provided by nf-core/configs'
  config_profile_contact = 'Jason Stajich (@hyphaltip)'
  config_profile_url = 'https://hpcc.ucr.edu'
  max_memory = 800.GB
  max_cpus = 96
  max_time = 720.h
}

singularity
{
  enabled = true
  autoMounts = true
  cacheDir = "/bigdata/stajichlab/shared/singularity_cache"
}

process
{
  beforeScript = 'module purge; module load singularity;'
  executor = 'slurm'
  queue = {task.memory >= 500.GB ? 'highmem' : 'epyc' }
  clusterOptions = ''
  resourceLimits = [
  	memory: 612.GB,
	cpus: 128,
	time: 720.h
  ]
}

executor
{
  submitRateLimit = '1sec'
}
